<div *ngIf="user">
  <header class="header--local">
    <div class="dark">
      <div class="container">
        <h1 class="header__heading">{{user?.companyName}}</h1>
        <p *ngIf="showDescription" class="header__text">
          {{user.description}}
        </p>
      </div>
    </div>
  </header>
</div>
<div *ngIf="localSelected">
  <header class="header--local">
    <div class="dark">
      <div class="container">
        <h1 class="header__heading">{{localSelected?.companyName}}</h1>
        <p *ngIf="localSelected && localSelected.description && localSelected.description !== null && localSelected.description !== undefined && localSelected.description !== ''"
          class="header__text">
          {{localSelected?.description}}
        </p>
      </div>
    </div>
  </header>
</div>
