<div class="dark" *ngIf="user">
  <header class="header--local">
    <div class="container">
      <h1 class="header__heading">{{user?.companyName}}</h1>
      <p *ngIf="user?.description" class="header__text">
        {{user?.description}}
      </p>
    </div>
  </header>
</div>
<div class="dark" *ngIf="localSelected">
  <header class="header--local">
      <div class="container">
        <h1 class="header__heading">{{localSelected?.companyName}}</h1>
        <p class="header__text">
          {{localSelected?.description}}
        </p>
      </div>
  </header>
</div>
