<table class="table">
    <!-- <caption class="table__title">Reserva/s futura/s</caption> -->
    <thead>
        <tr class="table__row">
            <th class="table__heading">Día</th>
            <th class="table__heading">Instalación</th>
            <th class="table__heading">Nº Local</th>
            <th class="table__heading">Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table__row" *ngFor="let reservation of reservations">
            <td class="table__data">{{reservation.date.day}} / {{reservation.date.month}} / {{reservation.date.year}}</td>
            <td class="table__data"><a href="" class="table__link">{{reservation.companyName}}</a></td>
            <td class="table__data">{{reservation.localName}}</td>
            <td class="table__data" >{{reservation.numHours}}</td>
        </tr>
    </tbody>
</table>
