@import '../buttons/buttons.component.scss';

.btn-cancel {
  background: var(--danger);
  color: var(--white);
  @media (max-width: 767px) {
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-size: var(--font-size-sm);
  }
  @media (min-width: 768px) {
    margin-left: 1rem;
  }
  @media (min-width: 1024px) {
    &:hover {
      background: var(--white);
      border: 1px solid var(--danger);
      color: var(--gray-900);
    }
  }
}


:host {
  margin-bottom: 1rem;
  @media (max-width: 767px) {
    grid-column: 1 / span 1;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-column: 1 / span 1;
  }
  @media (min-width: 1024px) {
    grid-column: 1 / span 1;
  }
}

.table {
  width: 100%;
  &__title {
    font-size: var(--font-size-md);
    padding: 0.5rem;
    @media (max-width: 767px) {
      font-size: var(--font-size-base);
    }
  }

  &__heading {
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid var(--primary);
    background-color: var(--gray-200);
    text-align: center;
    @media (max-width: 767px) {
      font-size: var(--font-size-sm);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: var(--font-size-base);
      width: 25%;
    }
    @media (min-width: 1024px) {
      width: 16.6%;
      font-size: var(--font-size-base);
    }
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  &__row:nth-child(even) {
    background-color: rgb(229, 243, 247);
  }

  @media (min-width: 1023px) {
    &__row:hover {
      background-color: darken(rgb(229, 243, 247), 10%);
    }
  }
  &__data {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid var(--primary);

    @media (max-width: 767px) {
      font-size: var(--font-size-sm);
      width: 20%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: var(--font-size-sm);
      width: 20%;
    }
    @media (min-width: 1024px) {
      font-size: var(--font-size-base);
      width:16.6%;
    }
  }
  &__link {
    color: var(--primary);
    @media (max-width: 767px) {
      padding: 1rem 0rem;
      font-size: var(--font-size-sm);
    }

    @media (min-width: 1023px) {
      &:hover {
        color: var(--third);
      }
    }
  }
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type{
  padding-left: 0;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type{
  padding-right: 0;
}

.desktop{
  @media(max-width:1023px){
    display: none;
  }
}
.tablet{
  @media(max-width:767px){
    display: none;
  }
}
.cursor{
  @media(min-width:1024px){
    cursor: pointer;
  }
}
