@import "../../../../../assets/scss/partials/variables";

.container {
  position: relative;
  z-index: map-get($z-index, layer1);
  margin: 0 auto;
  max-width: 950px;
  @media (max-width: 767px) {
    padding: 1rem;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 1.5rem;
  }
  @media (min-width: 1024px) {
    padding: 1rem 1rem 3rem 1rem;
  }
}

.dark {
  background-color: rgba(0, 0, 0, 0.3);

  @media (max-width: 767px) {
    padding: 4.5rem 0 2rem;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 6rem 0;
  }
  @media (min-width: 1024px) {
    padding: 4rem 0 6rem;
  }
}

.header {
  &--user {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../../../assets/img/Artwork/aire.jpg");
    background-color: var(--white);
  }

  &__heading {
    font-family: var(--font-family-head);
    font-weight: 700;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    color: var(--white);
  }
}

@media (max-width: 767px) {
  .header {
    &__heading {
      padding-bottom: 1rem;
      font-size: calc(var(--font-size-md) * 1.8);
      text-align: center;
    }

    &--user {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid var(--gray-200);
    }
    &__text {
      color: var(--white);
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-bottom: 4rem;
    &__heading {
      padding-bottom: 1rem;
      text-align: left;
      font-size: calc(var(--font-size-xl) * 0.8);
      text-align: center;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__heading {
      text-align: left;
      margin-left: 4rem;
      font-size: calc(var(--font-size-xl) * 0.8);
    }

    &--user {
      position: relative;
      background-position: 0 -13rem;
      background-size: cover;
      background-repeat: no-repeat;
      color: var(--white);

      &::after {
        content: "";
        position: absolute;
        z-index: 5;
        top: 18rem;
        left: 0.35rem;
        display: block;
        width: 100%;
        height: 14rem;
        background-color: var(--white);
        transform: rotate(-7deg) skew(-7deg);
      }
      &::before {
        content: "";
        position: absolute;
        z-index: 5;
        top: 18rem;
        left: -3rem;
        display: block;
        width: 100%;
        height: 15rem;
        background-color: var(--white);
        transform: rotate(7deg) skew(7deg);
      }
    }
  }
}
