.vrview {
  @media (max-width: 767px) {
    width: 100%;
    height: 78%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 100%;
    height: 22rem;
  }
  @media (min-width: 1023px) {
    width: 100%;
    height: 81%;
  }
}
