<header class="header">
  <div class="back-1"></div>
  <div class="back-2"></div>
  <div class="back-3"></div>
  <div class="back-4"></div>
  <div class="back-5"></div>
  <div class="back-6"></div>
  <div class="back-7"></div>
  <div class="back-8"></div>
  <div class="back-9"></div>
  <div class="back-10"></div>
  <div class="container">
      <h1 class="header__heading">Rockin Locals</h1>
      <p class="header__description">Consulta la disponibilidad de tus locales favoritos y si está disponible,
          resérvalo al instante. También puedes mostrar tus instalaciones para
          conseguir
          nuevas bandas. </p>
  </div>


</header>
