//@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

.container{
  margin: 0 auto;
  //margin-left: 300px;
}

.btn-light{
  background-color: var(--primary) !important;
  font-size: 50px !important;
}
