//@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

.container{
  margin: 0 auto;
  //margin-left: 300px;
}


:host{

  ngb-datepicker{

    .ngb-dp-header {
      background-color: var(--primary);
      color: var(--white);
      font-family: var(--font-family);
    }

    .ngb-dp-months {
      display: -ms-flexbox;
      display: flex;
      color: var(--third);
      background-color: var(--gray-100);
    }


    .btn-light {
      background-color: var(--primary);
      font-size: 50px;
    }
  }
}
