<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
 -->

<!-- <div class="container">
  <ngb-datepicker class="datepicker"  [displayMonths]="displayMonths" [navigation]="navigation"
    [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays" [startDate]="startDate" [minDate]="minDate"
    [maxDate]="maxDate" (select)="onDateSelect($event)">
  </ngb-datepicker>
</div> -->


<ngb-datepicker class="datepicker"  [displayMonths]="displayMonths" [navigation]="navigation"
[showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays" [startDate]="startDate" [minDate]="minDate"
[maxDate]="maxDate" (select)="onDateSelect($event)">
</ngb-datepicker>
