@import '../buttons/buttons.component.scss';

@keyframes inputsAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

:host{
    padding-bottom: 2rem;
    border: 1px solid transparent;

}

.form {
  &__group {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1.5rem 3rem;
    border: 1px solid var(--gray-600);
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }

  &__block {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 48%;
    }
    @media (min-width: 1024px) {
      width: 48%;
      & + & {
        margin-left: 1rem;
      }
    }
  }

  &__label {
    position: relative;
    display: block;
    padding: 0.2rem 0.5rem;
    width: 100%;
    color: var(--secondary);
    &--check {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 1rem 0.5rem;
      border: 1px solid var(--gray-300);
      border-radius: 4px;
      font-size: var(--font-size-sm);
      cursor: pointer;
      box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.05);
      &:hover {
        border: 1px solid var(--secondary);
      }
    }
  }

  &__input {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    color: var(--secondary);
    font-size: var(--font-size-sm);
    transition: all 150ms linear;
    &::placeholder {
      color: var(--gray-400);
      font-style: italic;
    }
    &:focus {
      border: 1px solid var(--secondary);
      box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    }

    &--hour{
      font-family: var(--font-family)
    }
  }

  &__block {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 48%;
    }
    @media (min-width: 1024px) {
      width: 48%;
      & + & {
        margin-left: 1rem;
      }
    }
  }
  .checkbox__container,
  .radio__container {
    position: relative;
    overflow: hidden;
    display: block;
  }

  &__check--custom {
    position: absolute;
    left: -9999rem;
    &:checked + label .svg {
      fill: var(--warning);
    }
    &:checked ~ input[type="text"] {
      border: 1px solid var(--secondary);
    }
    &:checked ~ input[type="text"]::placeholder {
      font-style: normal;
    }
    &:checked + .form__label--check {
      background-color: var(--gray-100);
      border: 1px solid var(--secondary);
    }
  }
}

svg {
  transition: fill 150ms linear;
  fill: var(--secondary);
}

.svg--custom {
  margin-left: 2rem;
}

.flex--end{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.error {
  margin-top: -1rem;
  padding: 0.2rem 0 0 0.5rem;
  font-size: calc(var(--font-size-base) * 0.7);
  color: red;
}


.invalid{
  border: 1px solid red !important;

}
