.results__list {
  //overflow-y: scroll;
  max-height: 280px;
  cursor: pointer;
  overflow: auto;
  @media (max-width: 767px) {
    border-bottom: 1px solid var(--gray-500);
    border-top: 1px solid var(--gray-500);
    padding: 0.5rem;
    font-size: var(--font-size-sm);
    margin-bottom: 2rem;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: var(--font-size-base);
    padding: 0.5rem;
    border-bottom: 1px solid var(--gray-500);
    border-top: 1px solid var(--gray-500);
  }

  @media (min-width: 1024px) {
    padding: 1rem;
    border-right: 1px solid var(--gray-500);
    margin-right: 2rem;
  }
}

.results__item + .results__item {
  margin-top: 0.2rem;
}

.logo {
  padding-top: 10px;
  color: var(--aux);
  transition: all 250ms linear;
}


.results__link {
  display: block;
  padding-bottom: 10px;
  padding: 0.2rem 0.5rem 0.7rem 0.5rem;
  color: var(--gray-500);
  text-decoration: none;
  transition: all 250ms linear;

  &:hover {
    background-color: var(--third);
    color: var(--white);
    border-radius: 4px;
  }
  &:hover .logo {
    color: var(--secondary);
    transition: all 250ms linear;
    transform: scale(1.2);
  }
}

