@import '../../../assets/scss/partials/variables';

:host{
  width: 100%;
  margin-bottom: 1rem;
  @media (max-width: 767px) {
    grid-column: 1 / span 12;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-column: 5 / span 8;
  }
  @media (min-width: 1024px) {
    grid-column: 3 / span 10;
  }

  &__title {
    font-size: var(--font-size-md);
    padding: 0.5rem;
    @media (max-width: 767px) {
      font-size: var(--font-size-base);
    }
  }

}


.table {
  width: 100%;
  margin-bottom: 1rem;

  &__heading {
    font-weight: 700;
    border-bottom: 1px solid var(--primary);
    background-color: var(--gray-200);
    text-align: center;
    padding: 1rem 0;
    width: 20%;
    @media (max-width: 767px) {
      font-size: var(--font-size-sm);
    }

    @media (min-width: 768px) {
      font-size: var(--font-size-base);
    }

    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  &__row:nth-child(even) {
    background-color: rgb(229, 243, 247);
    @media (min-width: 1023px) {
      &:hover {
        background-color: darken(rgb(229, 243, 247), 10%);
      }
    }
  }
  @media (min-width: 1023px) {
    &__row:hover {
      background-color: darken(rgb(229, 243, 247), 10%);
    }
  }
  &__data {
    padding: 1rem 0;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid var(--primary);

    @media (max-width: 767px) {
      font-size: var(--font-size-sm);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: var(--font-size-sm);
    }
    @media (min-width: 1024px) {
      font-size: var(--font-size-base);
    }
  }
  &__link {
    color: var(--primary);
    @media (max-width: 767px) {
      padding: 0.2rem 0rem;
      font-size: var(--font-size-sm);
    }

    @media (min-width: 1023px) {
      &:hover {
        color: var(--third);
      }
    }
  }
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type{
  padding-left: 0;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type{
  padding-right: 0;
}

.desktop{
  @media(max-width:1023px){
    display: none;
  }
}

.tablet{
  @media(max-width:767px){
    display: none;
  }
}

.cursor{
  @media(min-width:1024px){
    cursor: pointer;
  }
}
