
<table class="table col-sm-12 col-md-12" mat-table [dataSource]="dataSource">

    <tr class="table__row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="table__row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="day">
      <th class="table__heading" *matHeaderCellDef> Día </th>
      <td class="table__data" mat-cell *matCellDef="let reservation"> {{reservation?.date.day}} /
        {{reservation?.date.month}} / {{reservation?.date.year}}</td>
    </ng-container>

    <ng-container matColumnDef="band">
      <th class="table__heading" mat-header-cell *matHeaderCellDef> Grupo </th>
      <td class="table__data" mat-cell *matCellDef="let reservation"> {{reservation?.bandName}} </td>
    </ng-container>

    <ng-container matColumnDef="local">
      <th class="table__heading" mat-header-cell *matHeaderCellDef> NºLocal </th>
      <td class="table__data" mat-cell *matCellDef="let reservation"> {{reservation?.localName}} </td>
    </ng-container>

    <ng-container matColumnDef="hourIn" class="desktop">
      <th class="table__heading" mat-header-cell *matHeaderCellDef> Hora de entrada </th>
      <td class="table__data" mat-cell *matCellDef="let reservation"> {{reservation?.hours[0]}} </td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th class="table__heading" mat-header-cell *matHeaderCellDef> Hora de entrada </th>
      <td class="table__data" mat-cell *matCellDef="let reservation"> {{reservation?.numHours}} </td>
    </ng-container>

  </table>

  <div class="container--flex col-sm-12 col-md-12">
    <mat-paginator class="prueba" [length]="length" [pageSize]="10" [pageSizeOptions]="[10, 15, 20, 25]">
      </mat-paginator>
  </div>
