//@import '../buttons.component.scss';
@import "../../../../assets/scss/partials/variables";

.no-background {
  background-color: transparent;
  border: 0;
}

@keyframes btnScroll {
  0% {
    opacity: 1;
    //display: block
  }

  100% {
    opacity: 0;
    //display: none
  }
}

.btn--scroll-top {
  //display: none;
  position: fixed;
  z-index: map-get($z-index, "overtop");

  cursor: pointer;
  border-radius: 100%;
  transition: all 150ms linear;
  &:hover {
    fill: var(--primary);
  }

  @media (max-width:767px){
    bottom: 1rem;
    right: 1rem;
  }
  @media (min-width:768px){
    bottom: 4.5rem;
    right: 2.5rem;
  }
}

svg {
  transition: fill 150ms linear;
  fill: var(--secondary);
}

.show {
  transition: all 400ms linear;
  animation: btnScroll 400ms linear;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.hide {
  transition: all 400ms linear;
  animation: btnScroll 400ms linear;
  animation-fill-mode: forwards;
}
