@import '../../../assets/scss/partials/variables';

//Animacion de entrada Navbar(Solo una vez)


@keyframes navbar {
  from {
    opacity: 0;
    transform: translateY(-3.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//Animacion de entrada BloqueNav(Solo una vez)

@keyframes userBlock {
  0% {
    transform: translateY(-400%);
    opacity: 0;
  }

/*   45% {
    transform: translateY(50%);
  } */

  85% {
    opacity: 0;
    //transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  z-index: map-get($z-index, 'top');
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
  background-color: var(--aux);
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);

  @media (min-width: 1024px) {
    animation: navbar 0.5s linear;
  }
  @media (min-width: 768px) {
    height: 3.2rem;
    top: 0;
  }

  @media (max-width: 767px) {
    height: 3rem;
    padding: 0 1rem;
    bottom: 0;
  }
}
.navbar__menu {
  height: 100%;
  //width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__text {
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: var(--font-size-base);
  transform: translateY(-400%);

  @media (max-width: 1023px) {
    display: none;
  }

  @media (min-width: 1024px) {
    animation: userBlock .8s linear 1 forwards;
  }
}

.navbar__media {
  //border: 1px solid var(--gray-400);
  border-radius: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  fill: var(--black);
  background-color: var(--white);

  @media (min-width: 1023px) {
    margin-right: 1rem;
    transform: translateY(-400%);
    animation: userBlock .8s linear 0.5s 1 forwards;
  }
}

.btn--access {
  transform: translateY(-400%);
  animation: userBlock .8s linear 1s 1 forwards;
}

.navbar__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0;
  text-decoration: none;
  color: var(--white);
}

.hamburguer {
  display: block;
  padding: 1rem 0.2rem 0.8rem 1.5rem;
  transform: translateY(-0.2rem);

  &__menu {
    position: relative;
    display: inline-block;
    height: 0.2rem;
    border-radius: 3rem;
    width: 1.5rem;
    background-color: var(--white);
    &::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      display: block;
      height: 0.2rem;
      border-radius: 3rem;
      width: 1.5rem;
      background-color: var(--white);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.5rem;
      display: block;
      height: 0.2rem;
      border-radius: 3rem;
      width: 1.5rem;
      background-color: var(--white);
    }
  }
  @media (min-width: 1024px) {
    display: none;
  }
}

