@import "../../node_modules/susy/sass/susy";
@import "../assets/scss/partials/variables";


.filter-body {
  filter: blur(5px);
}

.prueba {
  position: relative;
  z-index: map-get($z-index, "layer2");
}

.general {
  @media (max-width: 767px) {
    padding-bottom: 2.5rem;
  }
}
.shadow {
  @media (max-width: 767px) {
    transition: all 150ms linear;
    filter: brightness(0.2);
    background-color: rgba($color: #000000, $alpha: 0.7)
  }
}

app-datepicker{

  ngb-datepicker{

    .ngb-dp-header {
      background-color: var(--primary);
      color: var(--white);
      font-family: var(--font-family);
    }

    .ngb-dp-months {
      display: -ms-flexbox;
      display: flex;
      color: var(--third);
      background-color: var(--gray-100);
    }


    .btn-light {
      background-color: var(--primary);
      font-size: 50px;
    }
  }
}

