<main class="grid">
  <div class="main-block">
    <form action="#" class="form" [formGroup]="myForm">
      <div class="form__group" >
        <label for="paypal" class="form__label"(click)="activateMethod($event)" >
          <input formControlName="method" type="radio" id="paypal" class="form__radio--standar" name="method" value="paypal">
          Paypal</label>
        <p class="form__text">Abre tu cuenta PayPal gratis y asocia tus tarjetas de crédito o débito. Busca el botón de PayPal a la hora de pagar y compra fácilmente ingresando tu correo electrónico y contraseña.</p>
      </div>
      <div class="form__group">
        <label for="credit-card" class="form__label" (click)="activateMethod($event)" >
          <input formControlName="method" type="radio" id="credit-card" class="form__radio--standar" name="method" value="card">
          Tajeta de crédito
        </label>
      </div>
      <fieldset class="form__fieldset susy">
        <div class="row">
          <div class="form__group col">
            <label for="card-number" class="form__label form__label--sm">Numero de
              tarjeta</label>
            <input [required]="myForm.controls.method.value === 'card'"
             [ngClass]="{invalid:myForm.controls.creditNumber.dirty && myForm.controls.creditNumber.errors?.required}"
             formControlName="creditNumber" type="text" id="card-number" class="form__input" placeholder="0000 0000 0000 0000">
            <div class="error" *ngIf="myForm.controls.creditNumber.dirty && myForm.controls.creditNumber.errors?.required">Campo
              Obligatorio</div>
          </div>
        </div>
        <div class="row">
          <div class="form__group col-sm-12 col-md-8 col-lg-8">
            <label for="expireDate" class="form__label form__label--sm">Fecha de caducidad</label>
            <input [required]="myForm.controls.method.value === 'card'"
             [ngClass]="{invalid:myForm.controls.expireDate.dirty && myForm.controls.expireDate.errors?.required}"
             formControlName="expireDate"  type="date" id="card-end" class="form__input form__input--date" placeholder="MM/AA">
            <div class="error" *ngIf="myForm.controls.expireDate.dirty && myForm.controls.expireDate.errors?.required">Campo
              Obligatorio</div>
          </div>
          <div class="form__group col-sm-12 col-md-4 col-lg-4">
            <label for="cvvCode" class="form__label form__label--sm">Código CVV</label>
            <input [required]="myForm.controls.method.value === 'card'"
             [ngClass]="{invalid:myForm.controls.cvvCode.dirty && myForm.controls.cvvCode.errors?.required}"
             formControlName="cvvCode" type="text" id="cvvCode" class="form__input" maxlength="3">
            <div class="error" *ngIf="myForm.controls.cvvCode.dirty && myForm.controls.cvvCode.errors?.required">Campo
              Obligatorio</div>

          </div>
        </div>
      </fieldset>
      <div class="container--flex">
        <button type="" class="btn" [routerLink]="['/local',localSelected?.id]">Atrás</button>
        <button type="button" class="btn" [disabled]="!myForm.valid" (click)="submit($event,myForm)">Aceptar</button>
      </div>
    </form>
  </div>
  <app-cart [reservation]="reservation"></app-cart>
</main>
