@import '../buttons.component.scss';

.btn--close {
  position: absolute;
  background-color: transparent;
  @media (max-width: 767px) {
    right: 10px;
    top: 10px;
    transform: scale(0.6) translate(1rem, -0.5rem);
  }
  @media (min-width: 768px) {
    right: 0;
    top: 0.5rem;
  }
  @media (min-width: 1024px) {
    margin: .5rem 1rem;
    &:hover {
      background-color: transparent;
      transform: scale(1.2);
      fill: var(--secondary);
    }
  }
}

.float--rigth{
  float: right;
  &:after{
      content: "";
      display: block;
      clear: both;
  }
}


