@import '../../../assets/scss/partials/variables';

@keyframes decorationBar {
  from {
    transform: translateX(-100%);
    opacity: 0;
    top: 3rem;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    top: 0;
  }
}

/* .dacorationBar::before {
  @media (min-width: 1023px) {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: map-get($z-index, "layer2");
    height: 100vh;
    width: 10%;
    background-image: linear-gradient(to bottom, var(--aux), var(--gray-100));
    animation: decorationBar 1.2s ease backwards 1;
    opacity: 0.98;
  }
} */
