



.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);

  &__heading {
    font-family: var(--font-family-head);
    font-weight: 700;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  &__description {
    font-size: var(--font-size-base);
    font-weight: 100;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  }
}

@media (max-width: 767px) {
  .header {
    padding: 4rem 0 2rem;
    &__heading {
      padding-bottom: 1rem;
      font-size: calc(var(--font-size-md) * 1.8);
      text-align: center;
    }
    &__text {
      color: var(--white);
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 6rem 0;
    padding-bottom: 4rem;
    &--user {
      padding: 7rem 0 2rem;
    }

    &__heading {
      padding-bottom: 1rem;
      margin-left: 4rem;
      text-align: left;
      font-size: calc(var(--font-size-xl) * 0.8);
    }

    &__description {
      margin-left: 4rem;
      max-width: 75%;
      text-align: left;
      font-size: calc(var(--font-size-md) * 0.8);
    }
  }
}
@media (max-width: 1023px) {
  .header{
    background-image: url(../../../../assets/img/Artwork/Fondo.png);
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 6rem 0;
    padding-bottom: 3rem;
    height: 100vh;
    width: 100%;
    background-size: cover;

    .container{
      position: relative;
      top:0;
    }

    &__heading {
      text-align: left;
      margin-left: 4rem;
      font-size: var(--font-size-xl);
    }

    &__description {
      max-width: 50%;
      text-align: left;
      font-size: var(--font-size-md);
    }

  }

  .back-1 {
    background-image: url(../../../../assets/img/Artwork/Entorno.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
   // padding-top: 5rem;
    transform: translateY(5rem) !important;
    //top: 5rem;
    z-index: 5;
    height: 100vh;
    width: 100%;
  }
  .back-2 {
    background-image: url(../../../../assets/img/Artwork/Escultura.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    //padding-top: 8rem;
    transform: translateY(8rem) !important;
    //top: 8rem;
    z-index: 5;
    height: 100vh;
    width: 100%;
  }
  .back-3 {
    background-image: url(../../../../assets/img/Artwork/Ramas.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding-top: 5rem;
    transform: translateY(5rem)!important;
    //top: 5rem;
    z-index: 5;
    height: 100vh;
    width: 100%;
  }
  .back-4 {
    background-image: url(../../../../assets/img/Artwork/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
  }

  .back-5 {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    &:after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 35rem;
      right: 0;
      left: -2.5rem;
      display: block;
      width: 120%;
      height: 20rem;
      background-color: var(--white);
      transform: rotate(-7deg) skew(-7deg);
      opacity: 1;
    }
  }
}
