<header class="header">
  <div appParallax [ratio]="0.2" class="back-4"></div>
  <div appParallax [ratio]="0.5" class="back-1"></div>
  <div appParallax [ratio]=".9"  class="back-2"></div>
  <div appParallax [ratio]="1.8"  class="back-3"></div>
  <div  class="back-5"appParallax [ratio]="0.4"></div>
  <div class="container" appParallax [ratio]="-0.4">
      <h1  class="header__heading">Rockin Locals</h1>
      <p  class="header__description">Consulta la disponibilidad de tus locales favoritos y si está disponible,
          resérvalo al instante. También puedes mostrar tus instalaciones para
          conseguir
          nuevas bandas. </p>
  </div>

</header>

