:host{
  flex: 1 0 auto;
  max-width: 600px;
  height: 336px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.map-main {
  flex: 1 0 auto;
  max-width: 600px;
  height: 336px;
  @media (min-width: 768px) and (max-width: 1023px) {
    margin: 0 auto;
    font-size: var(--font-size-base);
    text-align: center;
  }
}

agm-marker{
  transition: all 250ms linear;
}
