<div class="col-sm-12 col-md-7 col-lg-6">
    <h4 class="list__heading">Día seleccionado</h4>
    <div class="list flex--between">
      <ul class="list__block col-sm-12">
        <li class="list__item">11.00<span class="status">❌</span></li>
        <li class="list__item">12.00<span class="status">❌</span></li>
        <li class="list__item">13.00<span class="status">✅</span></li>
        <li class="list__item">14.00<span class="status">❌</span></li>
        <li class="list__item">15.00<span class="status">✅</span></li>
        <li class="list__item">16.00<span class="status">❌</span></li>
      </ul>

      <ul class="list__block col-sm-12">
        <li class="list__item">17.00<span class="status">✅</span></li>
        <li class="list__item">18.00<span class="status">❌</span></li>
        <li class="list__item">19.00<span class="status">❌</span></li>
        <li class="list__item">20.00<span class="status">✅</span></li>
        <li class="list__item">21.00<span class="status">✅</span></li>
        <li class="list__item">22.00<span class="status">❌</span></li>
      </ul>
      <div class="ml-a">
        <button type="button" class="btn">¿Quieres reservar?</button>
      </div>
    </div>
  </div>
