@import "../../../assets/scss/partials/variables";

.footer {
  width: 100%;
  background-color: var(--gray-600);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    //display: none;
    height: 3rem;
    justify-content: center;
  }

  @media (min-width: 768px) {
    position: relative;
    z-index: map-get($z-index, "top");
    justify-content: space-around;
    padding: 0 2rem;
    height: 4rem;
  }
}

.footer__link {
  text-decoration: none;
  color: var(--white);
  font-weight: 100;
  padding: 1rem;
  transition: all 150ms linear;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.social {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social__block {
  flex: 1 0 auto;
  width: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.copy {
  display: inline-block;
  color: var(--white);
  font-weight: 100;

  @media (max-width: 767px) {
    display: none;
  }
}

.svg {
  transition: all 200ms linear;
}

.svg--twiter {
  fill: var(--white);
  &:hover {
    fill: darken(#1da1f2, 10%);
  }
}

.svg--facebook {
  fill: var(--white);
  &:hover {
    fill: darken(#3b5998, 10%);
  }
}

.svg--instagram {
  fill: var(--white);
  &:hover {
    fill: darken(#e4405f, 10%);
  }
}

.social__link {
  flex: 1 0 auto;
  display: inline-block;
  & + & {
    margin-left: 1rem;
  }
}
